/*------------------1024PX--TO---1366PX--WHEN IPAD PRO LANDSCAPE----------------------------------------------***/
@media only screen and (min-width:1024px) and (max-width: 1366px){
    /**---------------------HR LINE FOR ORANGERED STYLE CSS IMPORTANT BORDER-LINE--------------------*/
    
    .banner-part{
        height: 850px;
    }

    h1{
        color:blue;
        font-size: 3rem;
    }

    /*-------------------HEADER MAIN NAV BAR WITH LISTS----------------*/

/**=====================BUTTON 1==================**/
button.btn1{
    padding: 10px;
    width: 25%;
    font-size: 1.2rem;
    color:rgb(255, 255, 255);
    background-color: orangered;
    border-radius: 15px;
    border: 1px solid orangered;
    opacity: 1;
    margin-left: 250px;
}
/**---------------------------BUTTON2---------------------------*/
button.btn2{
    padding: 10px;
    width: 25%;
    font-weight: 400;
    background-color: rgba(95, 95, 95, 0.226);
    border-radius: 15px;
    border: 1px solid orange;
    opacity: 1;
    font-size: 1.2rem;
  
  
}

    /**-------------------------------FIRST INTRODUCTORY PARAGRAPH ------------------------**/
    p.p1-intro-paragraph{
    font-size: 1.35rem;
    text-align: left;
    padding: 10px 50px;
    margin: 0px 40px 0px 40px;
    opacity: 0.5;
    }
  
    
      .hr-style-line,
      .hr-style-line1,
      .hr-style-line2,
      .hr-style-line3{
        border-bottom: 2px solid orangered;
        width: 20%;
        margin-left: 400px;
        padding: 0px;
        margin-top: 15px;
    }

        /*---------------------MEALS -PHOTOS---------------------*/
        .meal-photo{
            width: 350px;
        }
  
         /**-----------------------------BRANCH FIGURE-------------------------------**/
        
         /*BRANCHES--------------------------------------------------------------- ***/
         /**-------BRANCHES PHOTOS-----**/
         img.branch-img{
            width: 400px;
           border: px solid red;
           }
    
    /*-----------------*CONTACT US OR SIGN UP PART STARTS-----------------------------------------------
    /**-----------------------------------------------------------------------------------------------**/
      
    .form-part{
      display: flex;
      flex-wrap:wrap;
      justify-content: center;
      border: px solid;
     }
    
    #comment{
        width: 80%;
       }
      
    button.send-btn{
        background-color: rgb(255, 145, 0);
        font-size: 1rem;
        border-radius: 25px ;
        border: 1px solid  rgb(255, 145, 0); 
        color:white;
        padding: 0px;
        width: 25%;
        height: 3rem;
        cursor: pointer;
        margin-left: 0px;
      
    }
    
    button.send-btn:hover{
        background-color: rgb(233, 132, 0);
    
    }
    
    .social-media-icons i{
        font-size: 3.5rem;
    }
    }
    


    /*------------------1024PX--TO---1366PX---------------------------------------------
@media only screen  and (max-width: 11in){
    /**---------------------HR LINE FOR ORANGERED STYLE CSS IMPORTANT BORDER-LINE--------------------
    
    .banner-part{
        height: 650px;
    }

    h1{
        color:rgb(255, 251, 0);
    }

    /*-------------------HEADER MAIN NAV BAR WITH LISTS----------------

/**=====================BUTTON 1==================
button.btn1{
    padding: 10px;
    width: 30%;
    font-size: 1.2rem;
    color:rgb(255, 255, 255);
    background-color: orangered;
    border-radius: 15px;
    border: 1px solid orangered;
    opacity: 1;
    margin-left: 250px;
}
/**---------------------------BUTTON2--------------------------
button.btn2{
    padding: 10px;
    width: 25%;
    font-weight: 500;
    background-color: rgba(95, 95, 95, 0.226);
    border-radius: 15px;
    border: 1px solid orange;
    opacity: 1;
    font-size: 1.2rem;
  
  
}

    
    
    .hr-style-line,
    .hr-style-line1,
     .hr-style-line2,
    .hr-style-line3{
        border-bottom: 2px solid orangered;
        width: 10%;
        margin-left: 450px;
        padding: 0px;
        margin-top: 15px;
    }
      /**-----------------------------BRANCH FIGURE------------------------------
        
         /*BRANCHES--------------------------------------------------------------- 
         /**-------BRANCHES PHOTOS-----
         img.branch-img{
            width: 400px;
           border: px solid red;
           }
    
    /*-----------------*CONTACT US OR SIGN UP PART STARTS-----------------------------------------------
    /**-----------------------------------------------------------------------------------------------
      
    .form-part{
      display: flex;
      flex-wrap:wrap;
      justify-content: center;
      border: px solid;
     }
    
    #comment{
        width: 80%;
       }
      
    button.send-btn{
        background-color: rgb(255, 145, 0);
        font-size: 1rem;
        border-radius: 25px ;
        border: 1px solid  rgb(255, 145, 0); 
        color:white;
        padding: 0px;
        width: 25%;
        height: 3rem;
        cursor: pointer;
        margin-left: 0px;
      
    }
    
    button.send-btn:hover{
        background-color: rgb(233, 132, 0);
    
    }
    
    .social-media-icons i{
        font-size: 3.5rem;
    }
    }
    


    