   /*----------600PX  TO 800PX------------------------------------------------------***/
   @media only screen and (min-width:600px) and (max-width: 800px){
       .main-nav{
           position:absolute;
       }
    .banner-part{
        height: 650px;
        margin-top: 80px;
    }
    
    .hr-style-line,
    .hr-style-line1,
     .hr-style-line2,
    .hr-style-line3{
        border-bottom: 2px solid orangered;
        width: 10%;
        margin-left: 450px;
        padding: 0px;
        margin-top: 15px;
    }
      /**-----------------------------BRANCH FIGURE-------------------------------**/
        
         /*BRANCHES--------------------------------------------------------------- ***/
         /**-------BRANCHES PHOTOS-----**/
         img.branch-img{
            width: 400px;
           border: px solid red;
           }
    /**FOODS PHOTOS IMAGES SECTION**/
   .meal-photo img{ 
    width: 80%;}
    /*-----------------*CONTACT US OR SIGN UP PART STARTS-----------------------------------------------
    /**-----------------------------------------------------------------------------------------------**/
    .form-part{
      display: flex;
      flex-wrap:wrap;
      justify-content: center;
      border: px solid;
     }
    
    #comment{
        width: 80%;
       }
      
    button.send-btn{
        width: 25%; 
    }

    a.footer-links{
        color:rgba(255, 255, 255, 0.308);
        text-decoration: none;
        font-size: 1.1rem;
        padding: 0px 15px;
    }

    button.send-btn:hover{
        background-color: rgb(233, 132, 0);
    
    }
    
    .social-media-icons i{
        font-size: 2rem;
    }
    }

       /*----------600PX  TO 800PX------------------------------------------------------***/
   @media only screen and(max-width: 800px){

    .banner-part{
        height: 650px;
        margin-top: 80px;
    }
    
    .hr-style-line,
    .hr-style-line1,
     .hr-style-line2,
    .hr-style-line3{
        border-bottom: 2px solid rgb(5, 5, 5);
        width: 10%;
        margin-left: 350px;
        padding: 0px;
        margin-top: 15px;
    }
      /**-----------------------------BRANCH FIGURE-------------------------------**/
        
         /*BRANCHES--------------------------------------------------------------- ***/
         /**-------BRANCHES PHOTOS-----**/
         img.branch-img{
            width: 400px;
           border: px solid red;
           }
    /**FOODS PHOTOS IMAGES SECTION**/
   .meal-photo img{ 
    width: 80%;}
    /*-----------------*CONTACT US OR SIGN UP PART STARTS-----------------------------------------------
    /**-----------------------------------------------------------------------------------------------**/
    .form-part{
      display: flex;
      flex-wrap:wrap;
      justify-content: center;
      border: px solid;
     }
    
    #comment{
        width: 80%;
       }
      
    button.send-btn{
        width: 25%; 
    }

    a.footer-links{
        color:rgba(255, 255, 255, 0.308);
        text-decoration: none;
        font-size: 1.1rem;
        padding: 0px 15px;
    }

    button.send-btn:hover{
        background-color: rgb(233, 132, 0);
    
    }
    
    .social-media-icons i{
        font-size: 2rem;
    }
    }